
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
}

body{
    font-family: poppins,sans-serif;
}

li{
    list-style: none;
}
a{
    color:#fff
    
}

.navbar{
    background: var(--secondary-color);
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.logo{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 15px;
}
.close-btn{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.sidebar{
    padding: 20px;
    margin-top: 30px;

}

.nav-links{
    display: flex;
    flex-flow: column;
    gap: 28px;
    font-size: 15px;
    cursor: pointer;

}

.nav-links li :hover{
    color:var(--primary-color);
}

.social-icons{
    display: flex;
    gap: 20px;
    padding: 20px;
    position: absolute;
    bottom: 30px;
    left: 100px;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.social-icons i{
    font-size: 20px;
    cursor: pointer;
}

.social-icons :hover{
    color: white;
}

.open-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 35px;
    animation: animation 2s ease-in-out infinite;

}

@keyframes animation {
    0%{
        font-size: (35%);
    }
    50%{
        font-size: 20px;
    }
    100%{
        font-size: 35px;
    }
}


.navbar-active{
    transform: translateX(0);
}

@media screen and (max-width: 768px) {

   .navbar{
       width: 100vw;
       
   }
   .social-icons{
    left: 200px;
   }
   
}

